/*通用*/
*{ padding:0; margin:0 ; border:0;}
body{font-family:'宋体'; background:url("../images/boby_bg.jpg") repeat-x #cb71a5;padding:0;font-size:12px;color:#333;text-align:left;}
div,form,ul,ol,li,span,p{margin:0;padding:0;border:0;}
img,a img{border:0;margin:0;padding:0;}
ul,ol,li{list-style:none}
table,td,input{font-size:12px}
a img { border: none;}
.clear{clear:both;}
a{ text-decoration:none;}

.yahei{font-family: 'Microsoft YaHei','SimSun',"Verdana";}

/*头部*/
.header{margin:0 auto;width:977px;margin-top:12px;height:148px;background:url("../images/header.gif");
}
.logo{float:left;}
.logo img{margin:20px 0 0 25px;}
.header_ad{width:520px; height:80px; float:left; margin:20px 0 0 10px; background:#fff;}
.header_nav{float:left;width:630px; margin-top:-24px; overflow:hidden;padding:0 0 0 347px;display:inline;}
.header_nav ul{width:640px; text-align:center; height:36px;overflow:hidden;}
.nav_li{display:inline;margin-left:3px; width:100px; float:left; height:36px; line-height:36px; background:url("../images/nav.png")}
.header_nav ul li a{font-size:14px; color:#fff; font-weight:bold;}
.selected{display:inline;margin-left:3px; width:100px; float:left; height:36px; line-height:36px; background:url("../images/nav_hover.png")}

/*右侧*/
.main_right{float:left;}
.main_right_top{background:url("../images/topheader.png"); width:288px;height:38px; margin-top:18px; text-align:center;font-size:18px;font-family: 'Microsoft YaHei','SimSun',"Verdana";font-weight:bold;color:#fff; line-height:38px;}
.bottom{margin:0 auto; background:url("../images/backbottom.png"); height:31px; width:977px;}
.main_right_top10_1{margin-top:10px; float:left; margin-bottom:20px;margin-left:10px; display:inline;}
.main_right_top10_1 img{float:left;}
.main_right_top10_1 b{display:block;float:left;width:155px;word-break:break-all;word-wrap:break-word;line-height:18px; margin:10px 0; font-size:14px;}
.main_right_top10_1 a{color:#646464; }
.main_right_top10_1 div{float:left;width:155px;word-break:break-all;word-wrap:break-word;line-height:20px; margin-left:5px;}
.main_right_top10_page{ float:left;clear:both;background:url("../images/page.png");height:257px; width:27px; margin-top:5px;}
.main_right_top10_2{clear:both;height:280px; border-bottom:1px  dashed red; overflow:hidden;width:288px;}
.main_right_top10_content{float:left;width:260px;}
.main_right_top10_content a{display:block;float:left;width:250px;overflow:hidden;color:#646464; height:30px; line-height:30px;margin-left:5px;}
.main_right_top10_content a span {float:right;}
.main_right_top6_teacher{margin:19px 0 0 8px; width:288px; height:71px;}
.main_right_top6_teacher img,.main_right_top6_teacher span{float:left;}
.main_right_top6_teacher span{display:block; width:180px; margin-left:20px; line-height:18px;}

.ft_key{float:left;width:945px;margin:10px 0 0 15px;background-color: whiteSmoke;clear: both;padding:10px 0 10px 5px}
.ft_key ul li{float:left;margin:3px 3px 0px 3px;}
.ft_key ul li a {color: #2B2B2B;text-decoration: none;cursor:pointer;}
.ft_key ul li a:hover{color:red;text-decoration: none;cursor:pointer;}

/*底部*/
.footer{margin:0 auto;width:977px; height:160px;background:#cb71a5;}
.about{padding-top:25px; padding-bottom:10px;  text-align:center;}
.about a{color:#fff; font-size:14px; font-weight:bold; padding-left:30px;}
.footer_12, .footer_12 a{color:#fff; font-size:12px; text-align:center; margin:10px 0;}
.footer_14, .footer_14 a{color:#fff; font-size:14px; font-weight:bold;text-align:center; margin:10px 0;}

/*分页*/
.page2{text-align:center;height:20px;width:100%;float:left;margin-top:10px;}
.page2 a{font-size:14px; padding:0px 8px; color:#8f8f8f; border-right:1px #dedede solid; line-height:20px;}
.page2 b{ color:#000; padding:0px 8px; border-right:1px #dedede solid; line-height:20px;}
.page2 .pagewei{border-right:1px #fff solid;}
.page2 a:hover{color:#000;}
.page2 a.prev{ border:0px; background:url('../images/prev.gif') 2px 4px no-repeat;}
.page2 a.next{ border:0px; background:url('../images/next.gif') 6px 4px no-repeat;}

.pages{height:30px;line-height:30px;margin:10px 0 0 0;text-align:center;width:100%;overflow:hidden;}
.pages a{border:solid 1px #c0c0c0;color:#213a8c;margin:0 2px;padding:2px 5px;}
.pages b,.pages a:hover{background:#0099cc;border:solid 1px #c0c0c0;color:#FFFFFF;margin:0 2px;padding:2px 5px;text-decoration:none;}

.a96{width:960px;float:left;margin-top:5px;margin-left:8px;}